@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --register-color-bg-main: #e8e8e8;
  --register-color-bg-theme: #1976d2;
  --register-color-font-title-main: #ffffff;

  --register-color-font-title: #636363;
  --register-color-font-subtitle: #0caf1d;
  --register-color-font-content: #fff;

  --register-color-error: #f33;

  --register-color-card-bg: #fff;
  --register-color-card-border: #bebdbd;

  --register-color-font-placeholder: #d9d9d9;

  --register-color-font-primary: #1636c2;
  --register-color-font-secondary: #0caf1d;
  --register-color-font-tertiary: #fff;
  --register-color-font-placeholder: #d9d9d9;

  --register-color-error: #f33;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--register-color-bg-main);
}

/* Estilos genéricos */

main {
  padding: 0 20px;
}

.app-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.app-mb20 {
  margin-bottom: 20px;
}

.app-mt20 {
  margin-top: 20px;
}

.register-textarea {
  resize: none;
  height: 150px;
  padding-top: 10px;
}